/*FONT-FACE*/
@font-face {
  font-family: 'inconsolatabold';
  src: url("fonts/inconsolata-bold-webfont.woff2") format("woff2"), url("fonts/inconsolata-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'inconsolataregular';
  src: url("fonts/inconsolata-regular-webfont.woff2") format("woff2"), url("fonts/inconsolata-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/*---COLOR BY ROL----*/
/*----STROKES-----*/
/*-------ACTIVE------*/
/*=================
  # STYLES!
===================*/
body {
  background: #16151e;
  font-family: Inconsolata;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

.the_svg {
  background: #16151e; }

.xpath {
  stroke: white; }

#output {
  color: rgba(255, 255, 255, 0.7);
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0; }

path {
  fill: none; }
  path.current {
    stroke-width: 0;
    fill: rgba(255, 255, 255, 0.2); }

.svg-map-wrapper {
  position: absolute;
  z-index: 9;
  overflow: hidden;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  top: 18%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 200ms ease-in-out; }
  .svg-map-wrapper:hover {
    background: rgba(255, 255, 255, 0.05); }
  .svg-map-wrapper.world {
    transition: all 600ms ease-in-out;
    width: 100%;
    height: 100%;
    border-radius: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 0;
    background-color: rgba(26, 25, 33, 0.85); }
    .svg-map-wrapper.world svg {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(2) !important;
      -ms-transform: translate(-50%, -50%) scale(2) !important;
      transform: translate(-50%, -50%) scale(2) !important; }

#svg_map {
  transition: transform 600ms ease-in-out; }
  #svg_map.NA {
    transform: translate(19px, 50px) scale(1.2); }
  #svg_map.SA {
    transform: translate(10px, -110px) scale(1.5); }
  #svg_map.AF {
    transform: translate(-236px, -40px) scale(1.4); }
    #svg_map.AF circle {
      stroke-width: 0.40; }
  #svg_map.AS {
    transform: translate(-380px, 50px) scale(1.2); }
  #svg_map.EU {
    transform: translate(-210px, 210px) scale(2.5); }
    #svg_map.EU path {
      stroke-width: 0.1; }
    #svg_map.EU circle {
      stroke-width: 0.25; }
  #svg_map.OC {
    transform: translate(-600px, -130px) scale(1.6); }

.wrap-btns-continents {
  position: absolute;
  top: 20%;
  text-transform: uppercase;
  font-size: 14px; }

.btn {
  padding: 3px 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  margin: 10px 0;
  text-align: center;
  transition: all 200ms ease-in-out; }
  .btn:hover {
    background: white;
    color: #1a1921; }
  .btn.active {
    background: rgba(255, 255, 255, 0.7);
    color: #1a1921; }

.world-vizz #close-world-btn {
  display: block; }

#close-world-btn {
  display: none;
  position: absolute;
  top: 10%;
  right: 10%;
  z-index: 10; }

#svg-map {
  cursor: pointer; }

/*----------------------*/
.wrap-title {
  position: absolute;
  top: 5%;
  left: 5%;
  padding-bottom: 10px; }
  .wrap-title h1 {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    font-size: 32px;
    position: relative;
    font-weight: normal;
    margin: 0;
    line-height: 1; }
  .wrap-title .info {
    display: block;
    position: absolute;
    right: -30px;
    top: -5px;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    border: 1px solid #ff0066;
    text-align: center;
    color: #ff0066;
    text-transform: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    cursor: pointer;
    transition: opacity 200ms ease-in-out; }
    .wrap-title .info:hover {
      opacity: 0.6; }
  .wrap-title .subtext {
    color: rgba(255, 255, 255, 0.7);
    padding-left: 3px; }
  .wrap-title:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.3); }

.wrap-legends {
  position: absolute;
  top: calc(50% + 84px);
  width: 30px; }
  .wrap-legends .item {
    color: rgba(255, 255, 255, 0.6);
    position: relative; }
    .wrap-legends .item:before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 12px;
      background: url(../imgs/worse_female.svg) no-repeat;
      background-size: 100%;
      vertical-align: middle; }
    .wrap-legends .item.text {
      margin: 5px 0;
      line-height: 1;
      padding-left: 22px; }
      .wrap-legends .item.text:before {
        display: none; }
    .wrap-legends .item span {
      vertical-align: middle;
      line-height: 1;
      text-transform: uppercase;
      font-size: 14px; }
    .wrap-legends .item.female {
      color: #ff0066; }
    .wrap-legends .item.male {
      color: #4ad1d9; }
      .wrap-legends .item.male:before {
        background-image: url(../imgs/worse_male.svg); }

.modal {
  width: 50%;
  max-width: 600px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 6% 6%;
  background: rgba(22, 21, 30, 0.9);
  position: absolute;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: -1px 4px 18px 3px rgba(0, 0, 0, 0.3); }
  .modal a {
    color: #c50453;
    transition: color 300ms ease-in-out; }
    .modal a:hover {
      color: #4ad1d9; }
  .modal p {
    margin: 0;
    color: rgba(255, 255, 255, 0.61); }
    .modal p:first-of-type {
      margin-bottom: 20px; }

.wrapper-modal {
  background: rgba(22, 21, 30, 0.64);
  width: 100%;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  display: none; }

.close-modal {
  width: 30px;
  height: 30px;
  display: block;
  background: url(../imgs/close_ico.svg) no-repeat;
  background-position: center;
  text-indent: -9999px;
  background-size: 27px;
  position: absolute;
  top: 17px;
  right: 20px;
  transition: opacity 200ms ease-in-out !important; }
  .close-modal:hover {
    opacity: 0.6; }

.tool-legends {
  width: 30px;
  height: 30px;
  display: block;
  background: url(../imgs/more-legends.svg) no-repeat;
  background-position: center;
  text-indent: -9999px;
  background-size: 27px;
  position: absolute;
  transition: opacity 200ms ease-in-out !important; }
  .tool-legends:hover {
    opacity: 0.6; }
  .tool-legends:focus {
    outline: 0; }

.wrap-tooltip-legends {
  min-width: 150px;
  background: rgba(22, 21, 30, 0.85);
  padding: 15px;
  margin-top: 44px;
  position: relative;
  transition: opacity 400ms ease-in-out;
  pointer-events: none;
  border: 1px solid rgba(255, 255, 255, 0.05);
  opacity: 0; }
  .wrap-tooltip-legends.toggle {
    opacity: 1; }

.check {
  stroke-width: 1;
  stroke-opacity: 1;
  stroke: rgba(255, 255, 255, 0.5);
  fill: #16151e;
  cursor: pointer;
  transition: all 200ms ease-in-out; }
  .check:hover {
    stroke: white; }

.radio_true {
  fill: rgba(255, 255, 255, 0.5);
  stroke: none;
  pointer-events: none;
  opacity: 0; }

.country_lengend {
  fill: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 13px;
  text-anchor: end;
  opacity: 0; }

.active-country .country_lengend {
  fill: white; }
.active-country .check {
  stroke: white; }
.active-country .radio_true {
  fill: white;
  opacity: 1; }

.female_g line,
.female_g circle {
  stroke: #ff0066; }

.male_g line,
.male_g circle {
  stroke: #4ad1d9; }

/*----INIT. DETAIL GRAPH-------*/
.detail-graph {
  stroke: white;
  stroke-width: 0.15; }

.title_country {
  fill: rgba(255, 255, 255, 0.7);
  text-anchor: middle;
  font-size: 16px;
  stroke: none; }

.rect_back_title {
  fill: none;
  stroke: rgba(255, 255, 255, 0.3);
  stroke-width: 1; }

.gender_label {
  fill-opacity: 0.4;
  stroke: none;
  font-size: 12px;
  fill: rgba(255, 255, 255, 0.7);
  alignment-baseline: middle; }

.det_rect_dif {
  stroke: none;
  fill-opacity: 0.6; }

.det_avg_text {
  fill-opacity: 0.5;
  stroke: none;
  font-size: 12px;
  alignment-baseline: middle; }

.det_central_line {
  fill: none;
  stroke-width: 1; }

.det_symbol_line {
  fill: none;
  stroke-width: 1; }

.det_line_issues {
  stroke-width: 4; }

.det_issues_labels {
  font-size: 10px;
  stroke: none;
  fill: rgba(255, 255, 255, 0.7);
  fill-opacity: 0.5; }

.det_issues_labels_txt {
  stroke: none;
  alignment-baseline: middle;
  text-transform: uppercase; }

.dat_issue {
  stroke: none;
  font-size: 12px;
  fill: rgba(255, 255, 255, 0.7);
  alignment-baseline: middle;
  text-transform: uppercase; }

.line_fem,
.line_male {
  stroke: rgba(255, 255, 255, 0.3);
  stroke-width: 0.5;
  stroke-dasharray: 2.5, 2.5; }

.line_diff {
  stroke: rgba(255, 255, 255, 0.3);
  stroke-width: 0.5; }

.tspan_num {
  font-size: 22px;
  alignment-baseline: middle;
  stroke: none; }

.tspan_label {
  font-size: 12px;
  alignment-baseline: middle;
  stroke: none;
  fill-opacity: 1;
  text-transform: uppercase; }

.g_detail_female .det_symbol_line {
  stroke: #ff0066; }
.g_detail_female .det_central_line {
  stroke: #ff0066; }
.g_detail_female .det_rect_dif {
  fill: #ff0066; }
.g_detail_female .det_avg_text {
  text-anchor: start;
  fill: #ff0066; }

.g_detail_male .det_symbol_line {
  stroke: #4ad1d9; }
.g_detail_male .det_central_line {
  stroke: #4ad1d9; }
.g_detail_male .det_rect_dif {
  fill: #4ad1d9; }
.g_detail_male .det_avg_text {
  text-anchor: end;
  fill: #4ad1d9; }

.worse-female .tspan_num,
.worse-female .tspan_label {
  fill: #ff0066;
  text-anchor: start; }

.worse-male .tspan_num,
.worse-male .tspan_label {
  fill: #4ad1d9;
  text-anchor: end; }

/*----END. DETAIL GRAPH-------*/
/*------INIT: POSITIONING-------*/
.svg-map-wrapper {
  right: calc((100% - 1280px) / (2)); }
  @media screen and (max-width: 1404px) {
    .svg-map-wrapper {
      right: 5%; } }

.wrap-btns-continents {
  left: calc((100% - 1280px) / (2)); }
  @media screen and (max-width: 1404px) {
    .wrap-btns-continents {
      left: 5%; } }

.wrap-legends {
  left: calc((100% - 1280px) / (2)); }
  @media screen and (max-width: 1404px) {
    .wrap-legends {
      left: 5%; } }

.next-det-btn,
.prev-det-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: calc(50% + 84px);
  display: block;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  opacity: 0.4;
  transition: transform 200ms ease-in-out, right 800ms ease-in-out, left 800ms ease-in-out; }
  .next-det-btn:focus,
  .prev-det-btn:focus {
    outline: 0; }
  .next-det-btn:hover,
  .prev-det-btn:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

.next-det-btn {
  background-image: url(../imgs/next_ico.svg); }

.prev-det-btn {
  background-image: url(../imgs/prev_ico.svg); }

/*------END: POSITIONING-------*/

/*# sourceMappingURL=styles.css.map */
