@import url("https://fonts.googleapis.com/css?family=Inconsolata");
body {
  background: #16151e;
  font-family: Inconsolata;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased; }

path {
  fill: none; }
  path.current {
    stroke-width: 1;
    fill: rgba(255, 255, 255, 0.2); }

.svg-map-wrapper {
  position: absolute;
  z-index: 9;
  overflow: hidden;
  width: 290px;
  height: 290px;
  border-radius: 100%;
  top: 18%;
  right: calc(50% - 550px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 200ms ease-in-out; }
  .svg-map-wrapper:hover {
    background: rgba(255, 255, 255, 0.05); }
  .svg-map-wrapper.world {
    transition: all 600ms ease-in-out;
    width: 100%;
    height: 100%;
    border-radius: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 0;
    background-color: rgba(26, 25, 33, 0.85); }
    .svg-map-wrapper.world svg {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.4) !important;
      -ms-transform: translate(-50%, -50%) scale(1.4) !important;
      transform: translate(-50%, -50%) scale(1.4) !important; }

#svg_map {
  transition: transform 600ms ease-in-out; }
  #svg_map.NA {
    transform: translate(19px, 50px) scale(1.2); }
  #svg_map.SA {
    transform: translate(10px, -110px) scale(1.5); }
  #svg_map.AF {
    transform: translate(-236px, -40px) scale(1.4); }
  #svg_map.AS {
    transform: translate(-380px, 50px) scale(1.2); }
  #svg_map.EU {
    transform: translate(-210px, 210px) scale(2.5); }
    #svg_map.EU path {
      stroke-width: 0.1; }
    #svg_map.EU circle {
      stroke-width: 0.25; }
  #svg_map.OC {
    transform: translate(-600px, -130px) scale(1.6); }

.wrap-btns-continents {
  position: absolute;
  top: 20%;
  left: calc(50% - 450px);
  text-transform: uppercase;
  font-size: 14px; }

.btn {
  padding: 3px 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  cursor: pointer;
  margin: 10px 0;
  opacity: 0.5;
  text-align: center;
  transition: all 200ms ease-in-out; }
  .btn:hover {
    background: white;
    color: #1a1921; }
  .btn.active {
    background: rgba(255, 255, 255, 0.7);
    color: #1a1921; }

.world-vizz #close-world-btn {
  display: block; }

#close-world-btn {
  display: none;
  position: absolute;
  top: 10%;
  right: 10%;
  z-index: 10; }

#svg-map {
  cursor: pointer; }

/*----------------------*/
.wrap-title {
  position: absolute;
  top: 5%;
  left: 5%;
  padding-bottom: 15px; }
  .wrap-title h1 {
    text-transform: uppercase;
    color: white;
    font-size: 32px;
    position: relative;
    font-weight: normal;
    margin: 0;
    line-height: 1; }
  .wrap-title .tit {
    opacity: 0.6; }
  .wrap-title .info {
    display: block;
    position: absolute;
    right: -30px;
    top: -5px;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    border: 1px solid #ff0066;
    text-align: center;
    color: #ff0066;
    text-transform: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    cursor: pointer; }
  .wrap-title .subtext {
    color: rgba(255, 255, 255, 0.6);
    padding-left: 3px; }
  .wrap-title:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.6); }

.wrap-legends {
  position: absolute;
  top: calc(50% + 56px);
  left: 100px; }
  .wrap-legends .item {
    color: rgba(255, 255, 255, 0.6);
    position: relative; }
    .wrap-legends .item:before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 12px;
      background: url(../imgs/worse_female.svg) no-repeat;
      background-size: 100%;
      vertical-align: middle; }
    .wrap-legends .item.text {
      margin: 5px 0;
      line-height: 1;
      padding-left: 22px; }
      .wrap-legends .item.text:before {
        display: none; }
    .wrap-legends .item span {
      vertical-align: middle;
      line-height: 1;
      text-transform: uppercase;
      font-size: 14px; }
    .wrap-legends .item.female {
      color: #ff0066; }
    .wrap-legends .item.male {
      color: #4ad1d9; }
      .wrap-legends .item.male:before {
        background-image: url(../imgs/worse_male.svg); }

/*# sourceMappingURL=styles.css.map */
