$global-width: 1280px;
$percent-width: 90%;
$cut: $global-width + 124px;
@mixin padd_absolute($pos, $factor, $cut) {
  padding-#{$pos}: calc((100% - #{$global-width}) / #{$fact});
  @media screen and (max-width: $cut) {
    padding-#{$pos}: ((100% - $percent-width) / $fact);
  }
}
@mixin pos_absolute($pos, $factor, $cut) {
  $fact : (2 / $factor);
  #{$pos}: calc((100% - #{$global-width}) / #{$fact});
  @media screen and (max-width: $cut) {
    #{$pos}: ((100% - $percent-width) / $fact);
  }
}
$family: 'inconsolata';
$filename: 'Inconsolata-';

@mixin fontfaceconfig($filename, $type, $weight, $cursive) {
  $url: '../fonts/';
  $eot: $url + $filename + $type + '.eot';
  $woff2: $url + $filename + $type + '.woff2';
  $woff: $url + $filename + $type + '.woff';
  $ttf: $url + $filename + $type + '.ttf';
  $svg: $url + $filename + $type + '.svg#' + $family;
  @font-face {
    font-family: $family;
    font-style: $cursive;
    font-weight: $weight;
    src: url($eot) format('eot');
    src: url($eot + '?#iefix') format('embedded-opentype'),
         url($woff2) format('woff2'), 
         url($woff) format('woff'),
         url($ttf) format('truetype'),
         url($svg) format('svg'),
         
  }
}

@include fontfaceconfig($filename, 'Regular', 400, normal);