@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body{
	background: #170d1f;
  font-family: Inconsolata;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;  
}
