@import 'settings';
$verde_m:rgb(74, 209, 217);
$rosa:rgb(255, 0, 102);
$violeta:rgb(123, 36, 166);
$verde:rgb(24, 217, 169);
$azul:rgb(33, 140, 255);
$ocuro2:#16151e;
body {
  background: #16151e;
  font-family: Inconsolata;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#output {
  color: white;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
}
path {
  fill: none;
  &.current {
    stroke-width: 0;
    fill: rgba(255, 255, 255, 0.2);
  }
}
.svg-map-wrapper {
  position: absolute;
  z-index: 9;
  overflow: hidden;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  top: 18%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 200ms ease-in-out;
  &:hover {
    //border: 2px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.05);
  }
  &.world {
    transition: all 600ms ease-in-out;
    width: 100%;
    height: 100%;
    border-radius: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 0;
    background-color: rgba(26, 25, 33, 0.85);
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(2)!important;
      -ms-transform: translate(-50%, -50%) scale(2)!important;
      transform: translate(-50%, -50%) scale(2)!important;
    }
  }
}
#svg_map {
  transition: transform 600ms ease-in-out;
  &.NA {
    transform: translate(19px, 50px) scale(1.2);
  }
  &.SA {
    transform: translate(10px, -110px) scale(1.5);
  }
  &.AF {
    transform: translate(-236px, -40px) scale(1.4);
    circle {
      stroke-width: 0.40;
    }
  }
  &.AS {
    transform: translate(-380px, 50px) scale(1.2);
  }
  &.EU {
    transform: translate(-210px, 210px) scale(2.5);
    path {
      stroke-width: 0.1
    }
    circle {
      stroke-width: 0.25;
    }
  }
  &.OC {
    transform: translate(-600px, -130px) scale(1.6);
  }
}
.wrap-btns-continents {
  position: absolute;
  top: 20%;
  text-transform: uppercase;
  font-size: 14px;
}
.btn {
  padding: 3px 10px;
  border: 1px solid rgba(white, 0.5);
  color: white;
  cursor: pointer;
  margin: 10px 0;
  opacity: 0.5;
  text-align: center;
  transition: all 200ms ease-in-out;
  &:hover {
    background: rgba(white, 1);
    color: rgb(26, 25, 33);
  }
  &.active {
    background: rgba(white, 0.7);
    color: rgb(26, 25, 33);
  }
}
.world-vizz {
  #close-world-btn {
    display: block;
  }
}
#close-world-btn {
  display: none;
  position: absolute;
  top: 10%;
  right: 10%;
  z-index: 10;
}
#svg-map {
  cursor: pointer;
}

/*----------------------*/

///--    TITLES     --///
.wrap-title {
  position: absolute;
  top: 5%;
  left: 5%;
  padding-bottom: 10px;
  h1 {
    text-transform: uppercase;
    color: white;
    font-size: 32px;
    position: relative;
    font-weight: normal;
    margin: 0;
    line-height: 1;
  }
  .tit {
    opacity: 0.6;
  }
  .info {
    $w_info: 22px;
    display: block;
    position: absolute;
    right: -$w_info - 8px;
    top: -5px;
    width: $w_info;
    height: $w_info;
    border-radius: 100%;
    border: 1px solid rgb(255, 0, 102);
    text-align: center;
    color: rgb(255, 0, 102);
    text-transform: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    cursor: pointer;
    transition: opacity 200ms ease-in-out;
    &:hover {
      opacity: 0.6;
    }
  }
  .subtext {
    color: rgba(255, 255, 255, 0.6);
    padding-left: 3px;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
  }
}
//***---LEGENDS
.wrap-legends {
  position: absolute;
  top: calc(50% + 84px);
  width: 30px;
  .item {
    color: rgba(255, 255, 255, 0.6);
    position: relative;
    &:before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 12px;
      background: url(../imgs/worse_female.svg) no-repeat;
      background-size: 100%;
      vertical-align: middle;
    }
    &.text {
      margin: 5px 0;
      line-height: 1;
      padding-left: 22px;
      &:before {
        display: none;
      }
    }
    span {
      vertical-align: middle;
      line-height: 1;
      text-transform: uppercase;
      font-size: 14px;
    }
    &.female {
      color: $rosa;
    }
    &.male {
      color: $verde_m;
      &:before {
        background-image: url(../imgs/worse_male.svg);
      }
    }
  } //---ITEM
}
.modal {
  width: 50%;
  max-width: 600px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 6% 6%;
  background: rgba(22, 21, 30, 0.9);
  position: absolute;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: -1px 4px 18px 3px rgba(0, 0, 0, 0.3);
  a {
    color: #c50453;
    transition: color 300ms ease-in-out;
    &:hover {
      color: #4ad1d9;
    }
  }
  p {
    margin: 0;
    color: rgba(255, 255, 255, 0.61);
    &:first-of-type {
      margin-bottom: 20px;
    }
  }
}
.wrapper-modal {
  background: rgba(22, 21, 30, 0.64);
  width: 100%;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}
.close-modal {
  width: 30px;
  height: 30px;
  display: block;
  background: url(../imgs/close_ico.svg) no-repeat;
  background-position: center;
  text-indent: -9999px;
  background-size: 27px;
  position: absolute;
  top: 17px;
  right: 20px;
  transition: opacity 200ms ease-in-out!important;
  &:hover {
    opacity: 0.6;
  }
}
.tool-legends {
  width: 30px;
  height: 30px;
  display: block;
  background: url(../imgs/more-legends.svg) no-repeat;
  background-position: center;
  text-indent: -9999px;
  background-size: 27px;
  position: absolute;
  transition: opacity 200ms ease-in-out!important;
  &:hover {
    opacity: 0.6;
  }
  &:focus {
    outline: 0;
  }
}
.wrap-tooltip-legends {
  min-width: 150px;
  background: rgba(22, 21, 30, 0.85);
  padding: 15px;
  margin-top: 44px;
  position: relative;
  transition: opacity 400ms ease-in-out;
  pointer-events: none;
  border: 1px solid rgba(255, 255, 255, 0.05);
  opacity: 0;
  &.toggle {
    opacity: 1;
  }
}
.country_g {
  //opacity: 0.5;
}
.active-country {
  .wrap_legends {
    text {
      fill-opacity: 1!important;
    }
  }
  .check {
    stroke-opacity: 1!important;
  }
}
.check {
  stroke-width: 0.8;
  stroke-opacity: 0.2;
  stroke: white;
  fill: $ocuro2;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  &:hover {
    stroke-opacity: 1;
  }
}
.radio_true {
  fill: rgba(255, 255, 255, 0.7);
  stroke: none;
  stroke-opacity: 1;
  pointer-events: none;
  opacity: 1;
}
.country_lengend {
  fill: white;
  fill-opacity: 0.4;
  text-transform: uppercase;
  font-size: 13px;
  text-anchor: end;
  opacity: 0;
}

/*------INIT: POSITIONING-------*/

.svg-map-wrapper {
  @include pos_absolute('right', 1, $cut);
}
.wrap-btns-continents {
  @include pos_absolute('left', 1, $cut);
}
.wrap-legends {
  @include pos_absolute('left', 1, $cut);
}
.next-det-btn,
.prev-det-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: calc(50% + 84px);
  display: block;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  opacity: 0.4;
  transition: all 200ms ease-in-out;
  &:focus {
    outline: 0;
  }
  &:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.next-det-btn {
  @include pos_absolute('right', 1, $cut);
  background-image: url(../imgs/next_ico.svg);
}
.prev-det-btn {
  @include pos_absolute('left', 1, $cut);
  background-image: url(../imgs/prev_ico.svg);
  margin-left: 40px;
}

/*------END: POSITIONING-------*/
